<!-- 删除框 -->
<div class="delete" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">删除{{ name }}</h5>
      </div>
      <div class="modal-body">
        你确认删除此{{ name }}吗?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">取消</button>
        <button type="button" class="btn btn-primary" id="affirm">确认</button>
      </div>
    </div>
  </div>
</div>