body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  background-color: green;
  color: white;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.table-responsive {
  margin-top: 5px;
}

#bg, .delete, .change {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999;
}

#addAdmin, #addDorm, #addStu {
  display: none;
  width: 300px;
  height: 360px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #f8f9fa;
  z-index: 9999;
}

#addDorm {
  height: 280px;
}

#addStu {
  height: 420px;
}

#addAdmin, #addDorm, #addStu, .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

#addAdmin, #addDorm, #addStu, .title h5 {
  padding: 10px;
  margin: 0;
}

#closeBtn {
  display: flex;
  width: 42px;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}

.form, .changeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changeForm {
  margin-bottom: 3px;
}

label { 
  margin-bottom: 0;
}

.form-group {
  width: 80%;
  margin-bottom: 0;
}

.form-check {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#submit, .newBtn {
  width: 150px;
  margin-top: 5px;
}

tr td {
  line-height: 48.59px;
}

.modal-content {
  display: none;
  transform: translateY(175%);
}
